{% extends 'basic_app/base.html'%}
{% load staticfiles %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    {% if registered %}
    <h1>Thank You for registering!</h1>
    {% else %}
    <h1>Welcome to the registration page!</h1>
    <h3>Please fill out the form:</h3>
    </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" class='btn btn-primary' name="" value="Register">
  </form>
   {% endif %}

</div>

{% endblock %}
